<p id="notice"><%= notice %></p>

<p>
  <strong>Deadline:</strong>
  <%= @manage.deadline %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @manage.enable %>
</p>

<%= link_to 'Edit', edit_manage_path(@manage) %> |
<%= link_to 'Back', manages_path %>
