<!DOCTYPE html>
<html>
  <head>
    <title>AcademeScore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <div id="user_header">  
  <% if current_user %>  
    Logged in as <%= current_user.username %>.  
    <%= link_to "Log Out", logout_path %>  
  <% else %>  
    <%= link_to "CONTACT US", contact_path %>
    <%= link_to "LOG IN", login_path %>
    <%= link_to "ABOUT", about_path %>
  <% end %>  
  </div> 
  
  <body>
    <%= yield %>
  </body>
</html>
